.img{
    max-width: 100%;
}



.jumbotron {
    position:relative;
    overflow:hidden;
  }
  
  .jumbotron .container {
    position:relative;
    z-index:2;
    
    background:rgba(0,0,0,0.2);
    padding:2rem;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:3px;
  }
  
  .jumbotron-background {
    object-fit:cover;
    font-family: 'object-fit: cover;';
    position:absolute;
    top:0;
    z-index:1;
    width:100%;
    height:100%;
    opacity:0.5;
  }
  
  img.blur {
    -webkit-filter: blur(4px);
    filter: blur(4px);
    filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius='4');
  
  }
  .bouton1{
      position: relative;
      left: 400px;
  }
  .rating{
      margin-right: 350px;
      margin-top: -80px;
  }
  .container img{
      width: 200px !important;
  }
  .cadre{
      background-color: gray;
      width: 150px;
      height: 40px;
  }
  .form{
      background-color: gray;
      border: lightseagreen;
      border-color: lightseagreen;
  }
.xx {
    margin-right: 555px;
}